/* This is how we get stuff to appear and disappear.*/
/* Off by default, or in certain conditions */
section,
send-data .payPeople,
group-details, expanding-li button.mdl-button--colored {
    display: none;
}
body:not(.allGroups) #groupsList li:has(expanding-li > span > label:not(.is-checked)),
expanding-li:has(> .mdl-list__item-secondary-action > label:not(.is-checked)) > .mdl-list__item-primary-content button,
body:not(.payment-bridge) row.payment-bridge,
body.apples li[id="apples"] expanding-li button:not(.mdl-button--colored),
body.bananas li[id="bananas"] expanding-li button:not(.mdl-button--colored),
body.coconuts li[id="coconuts"] expanding-li button:not(.mdl-button--colored),
body.fairshare li[id="fairshare"] expanding-li button:not(.mdl-button--colored) {
    display: none;
}
/* Make the current nav link look disabled */
.groups   [href="#groups"],
.pay      [href="#pay"],
.invest   [href="#invest"],
.about    [href="#about"] {
    opacity: 0.5;
}
/* On in certain conditions */
body.payPeople .payPeople,
body.groups   #groups,
body.pay      #pay,
body.invest   #invest,
body.payme    #payme,
body.addUserKey #addUserKey,
body.newUser  #newUser,
body.about    #about {
    display: block;
}
body.apples li[id="apples"] expanding-li button.mdl-button--colored,
body.bananas li[id="bananas"] expanding-li button.mdl-button--colored,
body.coconuts li[id="coconuts"] expanding-li button.mdl-button--colored,
body.fairshare li[id="fairshare"] expanding-li button.mdl-button--colored {
    display: block;
}
body.apples li#apples group-details,
body.bananas li#bananas group-details,
body.coconuts li#coconuts group-details,
body.fairshare li#fairshare group-details {
    display: block;
}

/* Special stuff of ours */
#subtitle::before { content: ": "; }
body.alice [data-key="alice"] .yourself::before,
body.bob [data-key="bob"] .yourself::before,
body.carol [data-key="carol"] .yourself::before {
    content: " (you)"
}
#paymeURL { word-wrap: break-word; }

/* Basic sizing and spacing */
#about .page-content,
#payme .page-content {
    margin: 16px;
}
#groups .mdl-textfield,
#invest .mdl-textfield,
#pay .mdl-textfield {
    width: 100px;
}
#invest input::placeholder { font-size: 10px; }
.currency, #qrDisplay { display: flex; justify-content: center; }
.avatar-button { height: 40px; width: 40px; }
.identicon {
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: white;
}
row {
    height: 40px;
    padding: 16px 40px 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
group-details row {
    padding: 0;
    height: 50px;
    padding-left: 60px;
}
row label { width: fit-content !important; }
spacer {
    flex-grow: 5;
    flex-basis: 40px;
}
li > div { width: 100%; }
expanding-li {
    width: 100%;
    display: flex;
    align-items: center;
}
expanding-li > .mdl-list__item-primary-content > button {
    margin-left: 6px;
    margin-right: 6px;
}
#groups > .page-content,
#pay > .page-content {
    max-width: 650px;
    margin: 0 auto;
}
.people .mdl-checkbox,
#invest > .page-content {
    width: fit-content;
}
send-data,
group-data,
.people,
#pay > .page-content,
#invest > .page-content {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 15px;
    align-items: baseline;
}
#invest .mdl-textfield__label,
#invest  .mdl-textfield__input  {
    text-align: right;
}
send-data > hr { width: 100%; }
group-data > * ,
send-data > * ,
.people > * ,
#pay > .page-content > .right-justify,
#invest > .page-content > * {
    justify-self: end;
}


