#subtitle::before { content: ": "; }

section, group-details { display: none; }
.groups #groups, .pay #pay, .withdraw #withdraw, .invest #invest, .about #about, .payme #payme { display: block; }
.groups [href="#groups"], .pay [href="#pay"], .withdraw [href="#withdraw"], .invest [href="#invest"], .about [href="#about"] { opacity: 0.5; }
body:not(.allGroups) #groupsList li:has(span > label > input:not([checked])) { display: none; }
body.apples li#apples group-details, body.bananas li#bananas group-details, body.coconuts li#cocounuts group-details { display: block; }

.avatar-button { height: 40px; width: 40px; }
.identicon {
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: white;
}
row {
    height: 40px;
    padding: 16px 40px 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
group-details row {
    padding: 0;
    height: 50px;
    align-items: center;
    padding-left: 60px;
}
spacer {
    flex-grow: 5;
    flex-basis: 40px;
}
li > div { width: 100%; }
expanding-li {
    width: 100%;
    display: flex;
    align-items: center;
}
.mdl-menu .mdl-layout-title {
    line-height: 56px;
    color: #424242;
    padding-left: 16px;
    padding-bottom: 6px;
}
#about .page-content { padding: 16px; }
	

row label { width: fit-content !important; }
double-labeled-switch .mdl-switch { width: fit-content; }
double-labeled-switch .switch-label { padding-right: 16px; }

#about .page-content { margin: 16px; }
#groups .mdl-textfield { width: 70px; }
#qrDisplay { display: flex; justify-content: center; }
