/* This is how we get stuff to appear and disappear.*/
/* Off by default, or in certain conditions */
section, group-details, expanding-li button.mdl-button--colored {
    display: none;
}
body:not(.allGroups) #groupsList li:has(expanding-li > span > label:not(.is-checked)),
body:not(.payment-bridge) row.payment-bridge,
body.apples li[id="apples"] button:not(.mdl-button--colored),
body.bananas li[id="bananas"] button:not(.mdl-button--colored),
body.coconuts li[id="coconuts"] button:not(.mdl-button--colored),
body.fairshare li[id="fairshare"] button:not(.mdl-button--colored) {
    display: none;
}
/* Make the current nav link look disabled */
.groups   [href="#groups"],
.pay      [href="#pay"],
.invest   [href="#invest"],
.about    [href="#about"] {
    opacity: 0.5;
}
/* On in certain conditions */
.groups   #groups,
.pay      #pay,
.invest   #invest,
.payme    #payme,
.addUserKey #addUserKey,
.newUser  #newUser,
.about    #about {
    display: block;
}
body.apples li[id="apples"] button.mdl-button--colored,
body.bananas li[id="bananas"] button.mdl-button--colored,
body.coconuts li[id="coconuts"] button.mdl-button--colored,
body.fairshare li[id="fairshare"] button.mdl-button--colored {
    display: block;
}
body.apples li#apples group-details,
body.bananas li#bananas group-details,
body.coconuts li#coconuts group-details,
body.fairshare li#fairshare group-details {
    display: block;
}

/* Special stuff of ours */
#subtitle::before { content: ": "; }
body.alice .mdl-menu > [data-key="alice"] > .yourself::before,
body.bob .mdl-menu > [data-key="bob"] > .yourself::before,
body.carol .mdl-menu > [data-key="carol"] > .yourself::before {
    content: " (you)"
}
#paymeURL { word-wrap: break-word; }
double-labeled-switch .mdl-switch { width: fit-content; }
double-labeled-switch .switch-label { padding-right: 16px; }

/* Basic sizing and spacing */
#about .page-content,
#payme .page-content {
    margin: 16px;
}
#groups .mdl-textfield,
#pay .mdl-textfield {
    width: 70px;
}
.currency, #qrDisplay { display: flex; justify-content: center; }
.avatar-button { height: 40px; width: 40px; }
.identicon {
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: white;
}
row {
    height: 40px;
    padding: 16px 40px 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
group-details row {
    padding: 0;
    height: 50px;
    padding-left: 60px;
}
row label { width: fit-content !important; }
spacer {
    flex-grow: 5;
    flex-basis: 40px;
}
li > div { width: 100%; }
expanding-li {
    width: 100%;
    display: flex;
    align-items: center;
}
expanding-li > .mdl-list__item-primary-content > button {
    margin-left: 6px;
    margin-right: 6px;
